/*1° exercise*/

.ex-1-square {
    transition: 2s;
}

.ex-1-square:hover {
    background-color: red;
}

/*2° exercise*/

.ex-2-square {
    transition: width 10s;
}

.ex-2-square:active {
    width: 100%;
}

/*3° exercise*/

.ex-3-square {
    transition-property: border-radius;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/*4° exercise*/

.ex-4-square {
    animation-name: myAnimation;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

@keyframes myAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        display: none;
        opacity: 0;
    }
}

/*5° exercise*/

.ex-5-square {
    transition-property: width, height;
}

.ex-5-square:hover {
    width: 80px;
    height: 80px;
}

.ex-5-square:active {
    width: 40px;
    height: 40px;
}

/*6° exercise*/

.ex-6-img:hover {
    filter: grayscale(100%);
}

/*7° exercise*/

.ex-7-img {
    animation: filter-animation 5s infinite;
  }
  
  @keyframes filter-animation {
    0% {
      filter: hue-rotate(0) saturate(2);
    }
  
    50% {
      filter: hue-rotate(100deg) saturate(10);
    }
  
    100% {
      filter: hue-rotate(200deg) saturate(2);
    }
  }