/*1째 exercise*/

.ex-1-square {
    transition: 2s;
}

.ex-1-square:hover {
    background-color: red;
}

/*2째 exercise*/

.ex-2-square {
    transition: width 10s;
}

.ex-2-square:active {
    width: 100%;
}

/*3째 exercise*/

.ex-3-square {
    transition-property: border-radius;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/*4째 exercise*/

.ex-4-square {
    animation-name: myAnimation;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

@keyframes myAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        display: none;
        opacity: 0;
    }
}